# a python project gitignore

# python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# virtualenv
venv/
env/
.venv

# pytest cache
.pytest_cache/
.ruff_cache/

# postgresql data directory
data/.pg_data/

# coverage
.coverage

# logs
logs/
*.log

# tox config + virtualenvs
.tox/

# build artifacts
dist/
build/
*.egg-info/

# ignore config dev and prod yaml
config/dev.yaml
config/prod.yaml